<h1>Genre <%= @genre.name %></h1>
<%= link_to 'Go back', genres_path %>

<h2>Movies</h2>
<ul>
    <% @movies.each do |m| %>
        <li>
            <h3><%= link_to "#{m.title}", movie_path(m) %></h3>
        </li>
    <% end %>
</ul>
