<h1>Movie Catalog</h1>
<h2>All movies</h2>
<%= link_to 'Register a new movie!', new_movie_path %>
<h3>Released movies</h3>
<%= render partial: 'resume', locals: { movies: @releasedMovies } %>
<h3>Unreleased movies</h3>
<%= render partial: 'resume', locals: { movies: @unreleasedMovies } %>